@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?cep4f9');
  src:  url('../fonts/icomoon.eot?cep4f9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?cep4f9') format('truetype'),
    url('../fonts/icomoon.woff?cep4f9') format('woff'),
    url('../fonts/icomoon.svg?cep4f9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  /* letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures; */

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-smile .path1::before {
  content: "\e901";
  color: rgb(255, 217, 59);
}
.icon-smile .path2::before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(244, 197, 52);
}
.icon-smile .path3::before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-smile .path4::before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(222, 228, 233);
}
.icon-smile .path5::before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-smile .path6::before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(222, 228, 233);
}
.icon-smile .path7::before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(62, 67, 71);
}
.icon-smile .path8::before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(62, 67, 71);
}
.icon-smile .path9::before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(62, 67, 71);
}
.icon-360::before {
  content: "\e900";
}
.icon-user-plus::before {
  content: "\e973";
}
.icon-tree::before {
  content: "\e9bc";
}
.icon-FAQ::before {
  content: "\ea09";
}
