.body > header {
    background: url(../img/virtualni-prohlidka-screenshot-portrait.jpg) center / cover no-repeat fixed #E5E5E5;
    padding-bottom: 1em;
}
.body > header > div,
.content { padding: 0 .5em; }
.body > footer { text-align: center; }
.top-nav a span, .top-nav a.logo-spsse span { display: none; }
.top-nav { overflow: hidden; } /* on hover scale correction */

/* mobile landscape */
@media only screen and (min-width: 480px)
{

}
/* tablet portrait */
@media only screen and (min-width: 760px)
{
    .top-nav a { padding: .5em; font-size: 22px; }
    .top-nav a span { display: initial; }
    [class^="img-"]:hover { transform: scale(1.05); }
    [class^="img-"]::before, [class*=" img-"]::before { content: unset; }
    .logo-spsse::before { 
        background-image: url("../img/spsse-logo-262x70.svg");
        font-size: 32px;
        width: 120px;
        height: 32px; 
    }
    .livecards {
        flex-flow: row wrap;
        justify-content: center;
    }
}

/* tablet landscape */
@media only screen and (min-width: 960px)
{

}

/* desktop */
@media only screen and (min-width: 1200px)
{

}